extends layout 

block content 
  h2.display-3.mt-5=title
  if item.category.length > 0
    p.fs-6 #[strong Category: ]
      each category, index in item.category
        if index == item.category.length - 1
          a(href=category.url) #{category.name}
        else 
          a(href=category.url) #{category.name + ', '}
  p.fs-6 #[strong Description: ] 
    span.lead #{item.description}
  if item.img.data
    div.my-1.d-flex.justify-content-center 
      img.img-fluid(src=`data:${item.img.contentType};base64,${item.img.data}`)

  div.d-flex
    p.fs-6 #[strong Price:] $ 
      span.fs-5 #{item.price}
    if item.numberInStock > 0
      p.fs-6.ms-auto #[strong #{item.numberInStock}] in stock.
    else 
      p.fs-6.ms-auto No stock.
  div.mt-5
    a(href=item.url + '/update') Update 
    a.ms-2(href=item.url + '/delete') Delete 